<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:sports.properties"/>
    <!-- Define your beans here -->
    <bean id="happyfortune"
          class="com.spring.demoone.HappyFortuneService">
    </bean>
    <bean id="mycoach"
          class="com.spring.demoone.BaseballCoach">
          <constructor-arg ref="happyfortune"></constructor-arg>
    </bean>
    <bean id="myCricketCoach"
          class="com.spring.demoone.CricketCoach">
          <property name="fortuneService" ref="happyfortune"></property>
          <property name="email" value="${coach.email}"></property>
          <property name="team" value="Chennai Super Kings"></property>
    </bean>
</beans>





